*{
	
	margin:0;
	padding:0;
	font-family: sans serif;
	box-sizing:border-box;
	text-decoration:none;
	outline:none;
	background-color:	#808080;
}
body{
	
	padding: 1%;
		background-color: #fffff;
}

.sofa{
	width: 10px;
	height:auto;
	margin:10px 100px 10px;
	padding:20px;
	box-sizing:border-box;
 
	
	
}

.paragraph >.para1
{
	width: 33.3333333%;
	
	float:left;
	clear:both;
	padding:10px;
	
}
.paragraph >.para2
{
	width: 33.3333333%;
	
	float:center;
	clear:both;
	padding:10px;
	
}
.paragraph >.para3
{
	width: 33.3333333%;

	float:right;
	clear:both;
	padding:10px;
	
}
.detail>.detail1
{
		width: 33.3333333%;
	
	float:left;
	clear:both;
padding:10px;
}

.detail>.detail2
{
		width: 33.3333333%;
	
	float:left;
	clear:both;
padding:10px;
}

.detail>.detail3
{
		width: 33.3333333%;
	
	float:left;
	clear:both;
padding:10px;
}

	

.content{
	text-align: justify;
}
	

.template
{
	vertical-align: top;
	
}

.footerparagraph .footerleft .number1 h1
{
	
}
